* {
    box-sizing: border-box;
}

body {
    background-image: url("https://github.com/Makcim1988/portfolio/blob/main/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
   
}

header {
    display: flex; 
    width: 707px;
    margin: 0 auto;
    justify-content: center;
}

nav a {
    font: 20px Impact;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
}

#container {
    width: 707px;
    height: 879px;
    display: flex; 
    margin: 30px auto;
    position: relative;
}

#container h1 {
    font: 40px Impact;
    color: white;
    padding: 10px;
}

#container p.logo {
    font: 20px Impact;
    color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

#container p {
    font: 20px Impact;
    color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    center: 0;
    width: 300px;
    text-align: justify;
}

#skills {
    width: 707px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-bottom: 2px solid lightgray;
    padding: 10px;
}

h2 {
    color: black;
    font: 20px Impact;
    text-align: center;
}

#portfolio {
    display: flex;
    margin: 10px auto;
    width: 707px;
    border-bottom: 2px solid lightgray;
    padding: 10px;
}

#portfolio img {
    width: 350px;
}

#contacts {
    display: flex;
    margin: 10px auto;
    width: 707px;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

textarea {
    border: 2px solid lightgray;
    height: 150px;
    width: 250px;
    top: 50%;
    left: 50%;
    text-align: center;
}

.button {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font: 20px Impact;
    margin-bottom: 20px;
}

#footer {
    display: flex;
    margin: 10px auto;
    width: 707px;
    border-bottom: 2px solid lightgray;
    align-items: center; 
    justify-content: center;
}
#footer img {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.version {
    font: 10px Impact;
    text-align: center;
}
